@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
  font-family: -apple-system,BlinkMacSystemFont,"SF Pro Text","Inter","Segoe UI",Roboto, sans-serif;
  user-select: none;
  -webkit-font-smoothin: antialiased;
}

@keyframeshake{
  0%, 100%{transform:translateX(0);}
  20%, 60%{transform:translateX(-8px);}
  40%, 80%{transform:translateX(8px);}
}
.shake {animation: shake 035s; }
@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}
.fade-in {animation: fadeIn 0.8s ease forwards;}